In [1]:
import pandas as pd

df = pd.read_excel("Town_Codes_2001.xls")
df = df.replace('[^\w\s]','',regex=True)

In [2]:
df.head(20)

,Sl. No.,City/Town,Urban Status,State Code,State,District Code,District
0,1,1 SGM,CT,8,Rajasthan,1,Ganganagar
1,2,3 STR,CT,8,Rajasthan,1,Ganganagar
2,3,AThirumuruganpoondi,TP,33,Tamil Nadu,12,Coimbatore
3,4,AVellalapatti,TP,33,Tamil Nadu,24,Madurai
4,5,Aadityana,CT,24,Gujarat,11,Porbandar
5,6,Aambaliyasan,CT,24,Gujarat,4,Mahesana
6,7,Aantaliya,CT,24,Gujarat,24,Navsari
7,8,Aarambhada,CT,24,Gujarat,10,Jamnagar
8,9,Abhayapuri,TC,18,Assam,4,Bongaigaon
9,10,Abiramam,TP,33,Tamil Nadu,27,Ramanathapuram
10,11,Abohar,MCl,3,Punjab,11,Firozpur
11,12,Abrama,CT,24,Gujarat,25,Valsad
12,13,Abu Road,M,8,Rajasthan,19,Sirohi
13,14,Achabal,NAC,1,Jammu Kashmir,6,Anantnag
14,15,Achalpur,MCl,27,Maharashtra,7,Amravati
15,16,Achampudur,TP,33,Tamil Nadu,29,Tirunelveli
16,17,Acharapakkam,TP,33,Tamil Nadu,3,Kancheepuram
17,18,Acharipallam,TP,33,Tamil Nadu,30,Kanniyakumari
18,19,Achhalda,NP,9,Uttar Pradesh,32,Auraiya
19,20,Achhnera,MB,9,Uttar Pradesh,15,Agra

In [23]:
city = df['City/Town'].str.strip().tolist()
city = [s.lower().strip() for s in city]

state = df['State'].str.strip().tolist()
state = [s.lower().strip() for s in state]

district = df['District'].str.strip().tolist()
district = [s.lower().strip() for s in district]

city=set(city)
city.add("mumbai")
state=set(state)
district=set(district)

# same = city.intersection(district)
# city = city-same
# same1 = city.intersection(state)
# city = city-same1

dict1 = list(zip(city,state))
cities={}
for i in dict1:
    cities[i[0]]=i[1]
cities['Mumbai'] = 'Maharashtra'

In [39]:
def address(location):
    loc = location.split(",")
    loc1=[]
    for i in loc:
        loc1.append(i.lower().strip())
    loc = set(loc)
    common1 = city.intersection(loc1)
    common2 = district.intersection(loc1)
    common3 = state.intersection(loc1)
    final = ', '.join(common1)+' '+', '.join(common2)+" "+', '.join(common3)
    final= final.strip()
    if(len(common1)>1 or len(common2)>1 or len(common3)>1):
        return " "
    elif cities.get(final) is not None:
        final = final+" "+str(cities.get(final))
        print(final)
        return final
    elif final!='':
        print(final)
        return final
    else:
        return location

In [5]:
from geopy.geocoders import Nominatim


def locFinder(l):
    try:
        geolocator = Nominatim(user_agent="sample app")
        address=[]
        data = geolocator.geocode(l)
        Lat = data.point.latitude
        Long = data.point.longitude
        locn = geolocator.reverse([Lat, Long],language='en')
        address.append(locn.raw['address'].get('country'))
        address.append(locn.raw['address'].get('state'))
        address.append(locn.raw['address'].get('city'))
        return address
    except:
        return [None,None,None]

In [42]:
location = 'gujarat'

In [43]:
address(location)

gujarat

'gujarat'

In [44]:
locFinder(address(location))

gujarat

['India', 'Gujarat', None]

In [34]:
for i in city:
    if i == "pune":
        print(1)

1

In [35]:
locFinder('poona')

['India', 'Maharashtra', 'Pune']

'jharkhand'

In [2]:
#! pip install geopy